# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{yml,json}]
indent_size = 2

[*.csproj]
indent_size = 2

[*.cs]

# SA1507: Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = error

# My custom StyleCop rule
dotnet_diagnostic.MyRules0001.severity = error
